#whitelist-wrapper
  .whitelist-admin
    h2= t(form.title)
    form.form.form-horizontal(action=form.action, method="post", role="form", autocomplete="off", autovalidate='autovalidate', autosubmit='autosubmit')
      ul.form-messages
      input(type='hidden',name='forum',value=forum.id)
      .form-group
        label.col-sm-2.control-label=t('admin-whitelist.type')
        div.col-sm-10
          select.form-control(name='type')
            each type in [ 'email', 'domain' ]
              option(value=type, selected=( (whitelist.new && type == 'email') || (whitelist.type == type)))
                = t('admin-whitelist.type.' + type)
      .form-group
        label.col-sm-2.control-label=t('admin-whitelist.value')
        div.col-sm-10
          // Validators are set in ./form-view.js#onsubmit
          - if (whitelist.id)
            input.form-control(type='text', name = 'value', value = whitelist.value)
          - else
            textarea.form-control(type='text', name = 'value', placeholder = t('admin-whitelists-form.value.placeholder'))
      .form-group
        div.col-sm-offset-2.col-sm-10
          button.btn.btn-success=t('admin-whitelists-form.button.submit')
          - if (whitelist.id)
            | &nbsp;
            a.btn.btn-danger.btn-delete(href='#')=t('admin-whitelists-form.button.delete')
