#forum-wrapper.content-wrapper
  .forum-admin
    h3=t(form.title)
    form.form-horizontal(action=form.action, method='post', role='form', autocomplete='off', autovalidate='autovalidate', autosubmit='autosubmit')
      input(type='hidden', id='source', name='source', value=(forum ? forum.id : ''))
      ul.form-messages
      .form-group
        label.col-sm-2.control-label(for='associationName') #{t('forum.form.associationName.label')}
        div.col-sm-10
          input.form-control(type='text', id='associationName', name='associationName',value=forum ? forum.associationName : '', placeholder=t('forum.form.associationName.placeholder'), validate='required')
      .form-group
        label.col-sm-2.control-label(for='creationReason') #{t('forum.form.creationReason.label')}
        div.col-sm-10
          textarea.form-control( id='creationReason', name='creationReason', placeholder=t('forum.form.creationReason.placeholder'), validate='required')= forum ? forum.creationReason : ''
      .form-group
        label.col-sm-2.control-label(for='justificatory') #{t('forum.form.justificatory')}  
        div.col-sm-10
          input.form-control(type='hidden', id='justificatory', name='justificatory', value=forum ? forum.justificatoryUrl : '')
          div.uploadJustificatory 
      .form-group
        label.col-sm-2.control-label(for='title') #{t('forum.form.title.label')}
        div.col-sm-10
          input.form-control(type='text', validate='required', id='title', name='title', value=forum ? forum.title : '', placeholder=t('forum.form.title.placeholder'))
      .form-group
        label.col-sm-2.control-label(for='name') #{t('forum.form.url.label')}
        div.col-sm-10
          .input-group.subdomain
            div.input-group-addon
              span.desktop #{config.protocol}://#{config.host}/
              span.mobile /
            input.form-control(type='text', name='name', value=(forum ? (forum.name + t('forum.form.copy-suffix')) : ''), validate='required forum', autofocus, id='name', autocorrect='off', autocapitalize='off')
          span.error.name-unavailable.hide=t('forum.form.url.unavailable')
      .form-group
        label.col-sm-2.control-label(for='summary') #{t('forum.form.summary.label')}
        div.col-sm-10
          input.form-control(type='text', id='summary', name='summary', value=(forum ? forum.summary : ''), maxlength=300, validate='max-length:300', placeholder=t('forum.form.summary.placeholder'))
      .form-group
        label.col-sm-2.control-label(for='cover') #{t('forum.form.cover')}  
        div.col-sm-10
          input.form-control(type='hidden', id='cover', name='cover', value=(forum ? forum.coverUrl : ''))
          div.uploadImg 
      include ../../forum/topicsAttrs/form.jade  
      .form-group
        div.col-sm-2.text-right
          input(type='checkbox', id='featuredSection', name='featuredSection', value=forum ? forum.featuredSection : false)
        label.col-sm-10.control-label.text-left(for='featuredSection')
           = t('forum.form.FeaturedSection')  
      .form-group.actions
        div.col-sm-offset-2.col-sm-10
          button.btn.btn-success
            i.glyphicon.glyphicon-plus
            | &emsp;
            = t('forum.form.create.submit')
